main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  width: 60%;
  min-width: max-content;
  max-width: max-content;
  border: 3px solid #61dbfb;
  border-radius: 20px;
}

.container input {
  background-color: #1a1919;
  border: 2px solid #3b3b3b;
  border-radius: 6px;
  width: 300px;
  padding-left: 10px;
  height: 30px;
  color: #fff;
  transition: all 0.3s;
}

.container input:hover {
  background-color: #1f1f1f;
  border-color: #b4b4b4;
}

.container button {
  margin-left: 5px;
  text-align: center;
  height: 34px;
  width: 100px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #3b3b3b;
  background-color: #1a1919;
  border-radius: 6px;
  transition: all 0.3s;
}

.container button:hover {
  border: 2px solid #61dbfb;
  background-color: #61dbfb;
}

.container button:active {
  transform: scale(0.95);
}

.filter-title {
  color: #cfcfcf;
  font-weight: 300;
  margin: 5px 0;
}

hr {
  border: 1px solid #161616;
  max-width: 20%;
}